@model NotebookErrorReporter.ViewModels.NamesTicketsVM

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Notebook Error Reporting Page</title>
</head>
<body>
    <h1>Notebook Error Reporting Page</h1>

    <form action="report" method="post">
        Name:
        <select name="Reporter">
            <option>Select reporter's name</option>
            @{foreach (var user in Model.UserList)
                {
                    <option value="@user.Name">@user.Name</option>
                }
            }

        </select>
        <br/>
        Manufacturer:
        <input type="text" name="Manufacturer">
        <br />
        Serial Number:
        <input type="text" name="SerialNumber">
        <br />
        Description:
        <input type="text" name="Description">
        <br />
        <input type="submit" value="Report" name="Report"> <input type="reset" value="Clear">
    </form>
    <a href="http://localhost:49648/List">You can check the full list of the reports by clicking here</a>
</body>
</html>