@model NotebookErrorReporter.ViewModels.NamesTicketsVM

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Notebook Error Reporter Page</title>
</head>
<body>
    Index page bezony
    </body>
</html>